/*colors and fonts*/

body{

	background: #D3D3D3    ;
	text-decoration: none;
	padding: 50px;
	color: #575F7D ;
	font-family: 'Lora', serif;
	letter-spacing:  2px;
	font-weight: lighter ;
	width: 1000px;     /* Fix the width first*/
	margin: 0px auto; /* Let CSS compute the same left & right margins automatically*/

}
.container{background: #F7F9FC;}
h1,h2 h3 {
	font-family: 'Roboto Slab', serif;
	font-weight: bolder bolder; 
	width: 500px;     /* Fix the width first*/
	margin: 0px auto; /* Let CSS compute the same left & right margins automatically*/
	text-align: center;
}


h1{
	color: #A45D5D ;
	font-size: 32px;
	font-weight: 900;
	
	}
a{
	font-family: 'Roboto Slab', serif;
	text-decoration:none ;
	color: #7900FF; 
	font-weight: 600;
	font-size:  16px;
}

a:hover{
	color: black;
}
.img-circle { /* select all elements with the class="img-circle" */
  border-radius: 50%;
  float: left;
  width: 100px;
  height: 100px ;
	object-fit: cover;
}
.shadowed {
	box-shadow : 5px 5px 3px black;
}
h2 {
	color: #A45D5D ;
	font-size: 20px;
	font-weight: lighter;
	font-weight: 500;
}



div{
	background: #gainsboro;
	border: 3px solid #d3d3d3;
	margin: 20px;
}



/*custom design with class*/
.container{
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


.card-white{
	background-color: whites;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin:  20px;
	text-align: center ;
}

.img-circle{border-radius: 50%;}

.btn-blue{background-color: #7900FF;
	color: white ;
	padding: 15px 20px;
	border-radius: 4px;
	margin:  40px auto;
}

.btn-blue:hover{
	background-color: blue;
	color: white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline ;
	padding: 10px;}

.list-inline i {
	font-size: 50px;
	color:  rgb(200,200,200);
}
.list-inline i:hover{
	color: black;
}
#introduction p {
	margin-bottom: 40px;
}